<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FudbalSemafor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="DefaultConnection"
    connectionString="server=localhost;database=fudbal_semafor;user=root;password=mysql#356A"
    providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
 <userSettings>
  <FudbalSemafor.Properties.Settings>
   <setting name="SelectedBaseTheme" serializeAs="String">
    <value />
   </setting>
   <setting name="SelectedPrimaryColor" serializeAs="String">
    <value />
   </setting>
   <setting name="SelectedSecondaryColor" serializeAs="String">
    <value />
   </setting>
   <setting name="FontSize" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FontFamilyName" serializeAs="String">
    <value />
   </setting>
   <setting name="YellowCard" serializeAs="String">
    <value>Žuti</value>
   </setting>
   <setting name="RedCard" serializeAs="String">
    <value>Crveni</value>
   </setting>
   <setting name="Lang" serializeAs="String">
    <value />
   </setting>
  </FudbalSemafor.Properties.Settings>
 </userSettings>
</configuration>
